* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: #333;
  height: 6em;
  width: 100dvw;
  overflow: hidden;
}

.navbar>a {
  margin: 2em;
  text-decoration: none;
}

.navbar>a:active {
  background-color: cadetblue;
}