* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  position: fixed;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  display: block;
  padding: 2em;
  text-decoration: none;
}

.navbar li a {
  color: white;
}

.navbar li.active {
  background-color: cadetblue;
}